/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  width: 100%;
  height: 300px;
  background: $c__light-grey;
}
